*.class
DesignPatterns.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
DesignPatterns.iml

# Default ignored files
/shelf/
/workspace.xml
*.class
.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/shelf/Default_Changelist/shelved.patch
/.idea/shelf/Default_Changelist2.xml
/.idea/shelf/Default_Changelist1/shelved.patch
/.idea/shelf/Default_Changelist2/shelved.patch
